.card{
    padding: 20px;
    color: white;
    border-radius: 10px;

    &__title{
        font-size: map-get($font-card-size, title);
    }

    &__content{
        font-size: map-get($font-card-size, content);

        opacity: 70%;
    }

    &__author{
        display: flex;
        height: 2em;

        & div{
            margin-left: 1.2em;

            display: flex;
            flex-direction: column;

            justify-content: center;
        }

        & div h4 , & div h5{
            margin: 0;
            padding: 0;
        }

        & div h5{
            opacity: 50%;
        }

        & p{
            height: 100%;
            margin: 0;
        }

        & img{
            height: 100%;

            border-radius: 50%;
            border: 1px solid white;
        }
    }

    &--purple{
        background: $purple url('images/bg-pattern-quotation.svg') no-repeat top right;
        background-origin:  content-box;
    }

    &--grey{
        background-color: $grey;
    }

    &--white{
        color: black;
        background-color: white;
    }

    &--dark-grey{
        background-color: $dark-grey;
    }


    @include desktop-only{
        background-color: red;
    }
}