@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    box-sizing: border-box;
}

html , body{
    margin: 0;
    padding: 0;

    height: 100%;
}

body{
    padding: 30px 15px;
    background-color: $background-color;

    font-family: 'Barlow Semi Condensed' , sans-serif;
}

#main{
    display: grid;
    row-gap: 1.5em;

    height: 100%;
}